body {
    background-color: rgba(20, 159, 154, 0.398);
    color:rgb(18, 18, 18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
ul {
    align-items: center;
}


